#map {
    width: 90vw;
    height: 300px;
    margin: auto;
    padding-top: 20px;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 32, 30);

}

h2,
h1 {
    padding: 0;
    margin: 0;
    margin: auto;
    display: block;
    text-align: center;
    color: green;
    font-weight: 900;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

.findIt {
    width: 70vw;
    height: 35px;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px;
    background-color: white;
    border: 0px;
    
}


.findIt input {

    padding: 5px;
    margin: 0;
    width: 100%;

    border: 0px;
    height: 70%;
    border-radius: 20px;
    float: left;
    display: block;
    margin-top: px;
    z-index: 2;
}

.findIt button {
    padding: 0;  
    font-size: 26px;
    border: 0px;
    float: right;
    margin-right: 5px;
    border: 0;
    background: 0;
    position: relative;
    top:-35px;
    display: block;
    z-index: 3;
}


.select {
    margin-left: 2px;
    width: 86%;
    float: left;
    position: relative;
    display: block;
    padding: 0;
    border: 0 solid white;
    margin-top: -20px;
    z-index: 1;
}

.AtmInfoH2
{
    color: whitesmoke;
    float: left;
    margin-top: 25px;
    margin-left: 5vw;
    
}

.Atm
{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: -1px;
    width:90vw;
   
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    color: whitesmoke;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    
}

